a {
    text-decoration: none;
}
html, body {
    height: 100%;
    width: 100%;
}

html {
    background: #eee;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 링크 박스 꾸미기 */
a:link, a:visited {
    background-color: #f3dbae;
    border-radius: 10px;
    color: rgb(221, 83, 32);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: #f5c56c;
}

.main {
    margin-top: 50vh;
    display: flex;
    justify-content: space-evenly;
}

.box {
        width: 1000px;
        height: 100vh;
        border-radius: 5px;
        box-shadow: 0 2px 30px rgba(black, .2);
        background: lighten(#f0f4c3, 10%);
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
    }

.wave {
        opacity: .4;
        position: absolute;
        top: 3%;
        left: 50%;
        background: #0af;
        width: 500px;
        height: 500px;
        margin-left: -250px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 3000ms infinite linear;
    }
    
.wave.-three {
    animation: drift 5000ms infinite linear;
}

.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: yellow;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}